@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth
}

@layer {
    .switch {
        @apply px-4 py-2.25 text-[15px] font-bold relative rounded-[10px] flex items-center gap-1.5 cursor-pointer transition-all duration-200 ease-out select-none;
    }

    .switch--active {
        @apply bg-[#79109D] text-white;
    }

    .switch--inactive {
        @apply bg-[#2F2F33] text-white/60;
    }

    .switch--inactive-img {
        @apply opacity-60;
    }

    .switch--inactive svg {
        opacity: .6;
    }

    /* // Slider Arrows */

    .slider-arrow {
        @apply w-9.5 h-9.5 rounded-[10px] flex items-center justify-center transition-all duration-200 ease-out select-none;
    }

    .slider-arrow--active {
        @apply bg-[#79109D] cursor-pointer;
    }

    .slider-arrow--inactive {
        @apply bg-[#2F2F33] cursor-not-allowed opacity-60;
    }

    /* // Total */

    .total-div {
        @apply flex justify-between items-center gap-5 py-4 border-b border-[#FFFFFF1A] text-[#FFFFFFCC];
    }

    /* // Banks */

    .banks li {
        @apply flex items-center justify-between font-medium text-[20px];
    }

    /* // Regions */

    .scrollbar-regions {
        scrollbar-width: none;
        scrollbar-color: rgba(255, 255, 255, 0.22) transparent;
    }

    .scrollbar-regions::-webkit-scrollbar {
        width: 10px;
    }

    .scrollbar-regions::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.22);
        border-radius: 9999px;
    }

    /* // Partners List */

    .scrollbar-partners {
        scrollbar-width: thin;
        scrollbar-color: #79109D #292731;
    }

    .scrollbar-partners::-webkit-scrollbar {
        width: 6px;
    }

    .scrollbar-partners::-webkit-scrollbar-track {
        background: #292731;
    }

    .scrollbar-partners::-webkit-scrollbar-thumb {
        background: #79109D;
        border-radius: 9999px;
    }
}

.t-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    text-align: right;
}